<div class="bg-[#21242c] flex flex-col h-screen" xmlns="http://www.w3.org/1999/html">

    <div class="flex justify-evenly p-4 items-center">
        <div class="font-bold text-[2rem]"><span class="text-[#7ce7fc] font-extrabold">My </span>Portfolio.</div>

        <div class="flex justify-center items-center gap-[1rem]">
            <button class="nav-button" matTooltip="About me" [matTooltipShowDelay]="500" mat-button>
                <a href="#about">About</a>
            </button>
            <button class="nav-button" matTooltip="My work experience" [matTooltipShowDelay]="500" mat-button>
                <a href="#experience">Experience</a>
            </button>
            <button class="nav-button" matTooltip="My projects" [matTooltipShowDelay]="500" mat-button>
                <a href="#projects">Projects</a>
            </button>
            <button class="nav-button" matTooltip="Technologies I use" [matTooltipShowDelay]="500" mat-button>
                <a href="#technologies">Technologies</a>
            </button>
            <button class="nav-button" matTooltip="Education history" [matTooltipShowDelay]="500" mat-button>
                <a href="#education">Education</a>
            </button>
        </div>
    </div>

    <div class="flex-1 flex justify-center items-center px-[10rem] gap-8">

        <div class="flex flex-col gap-4 max-w-[50%]">
            <div class="text-white text-[2.5rem] font-bold">
                Hi!
            </div>

            <div class="text-[3rem]">
                <span class="text-[#7ce7fc] font-extrabold">Szymon Półtorak</span>
            </div>

            <div class="flex items-center text-white text-[2.5rem] font-mono">
                I'm a&nbsp;
                <span class="relative inline-block whitespace-nowrap font-semibold text-[#7ce7fc] font-mono">
                    {{ typed }}<span class="cursor-blink ml-1">|</span>
                </span>
            </div>

            <div class="flex flex-start gap-4">
                <a mat-mini-fab aria-label="Linkedin" matTooltip="Contact me on Linkedin"
                   [matTooltipPosition]="'above'" [matTooltipShowDelay]="500"
                   href="https://www.linkedin.com/in/szymon-poltorak" target="_blank">
                    <ng-icon name="bootstrapLinkedin"/>
                </a>

                <a mat-mini-fab aria-label="Github" matTooltip="See my github projects"
                   [matTooltipPosition]="'above'" [matTooltipShowDelay]="500"
                   href="https://github.com/szymonpoltorak" target="_blank">
                    <ng-icon name="bootstrapGithub"/>
                </a>

                <a mat-mini-fab aria-label="Mail Me" matTooltip="Send me an email"
                   [matTooltipPosition]="'above'" [matTooltipShowDelay]="500"
                   href="mailto:szymonpotorak@gmail.com">
                    <mat-icon>mail</mat-icon>
                </a>
            </div>

            <div>
                <a mat-fab extended aria-label="CV" matTooltip="Check out my CV"
                   href="assets/Szymon_Poltorak_FullStack_Java_Angular.pdf"
                   [matTooltipPosition]="'above'" [matTooltipShowDelay]="500" target="_blank">
                    <mat-icon>attach_file</mat-icon>

                    Checkout my CV
                </a>
            </div>
        </div>

        <div
            class="flex justify-end items-end border-6 rounded-full solid border-[#7ce7fc] overflow-hidden bg-[#7ce7fc] shadow-xl shadow-[#7ce7fc]">
            <img
                src="assets/photo.png"
                alt="Profile image"
                class="object-cover"
            />
        </div>
    </div>
</div>

<div class="flex items-center justify-center p-4 bg-[#343845]  h-[60%] gap-8">
    <div class="flex justify-end items-end border-6 rounded-full solid border-[#7ce7fc] overflow-hidden hide">
        <img
            src="assets/photo.png"
            alt="Profile image"
            class="object-cover"
        />
    </div>

    <div class="max-w-[60rem] hide">
        <div id="about" class="font-semibold text-[5rem]">About <span class="text-[#7ce7fc]">Me</span></div>

        <div class="text-justify">
            Passionate Fullstack Developer specializing in Java (Spring Boot) and Angular.
            Currently a first-year Applied Computer Science Master's student at Warsaw University of Technology,
            striving to expand my knowledge and improve my skills in modern software development.
            <br/><br/>
            I have a strong interest in backend and frontend technologies, particularly Spring Boot, Angular, and DevOps
            automation. My experience includes building scalable web applications, optimizing backend performance, and
            working with microservices architecture. I’m also proficient in Docker, Kafka, RabbitMQ, and CI/CD
            pipelines.
            <br/><br/>
            I’m passionate about clean code, software architecture, and problem-solving, always eager to learn new
            technologies and programming languages. In my free time, I enjoy exploring new tech stacks, reading books,
            and listening to music.
        </div>
    </div>
</div>

<div class="bg-[#21242c] flex flex-col justify-center items-center p-12">
    <div id="technologies" class="font-bold text-[4rem] hide">Used <span class="text-[#7ce7fc]">Technologies</span>
    </div>

    <div class="grid gap-24 w-full p-12 hide"
         style="grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));">

        @for (card of techCards; track card) {
            <div class="flex flex-col justify-evenly items-center gap-2 bg-[#343845] hover:bg-[#7ce7fc] hover:text-black hover:cursor-pointer
                p-12 rounded-2xl min-w-48 min-h-48 hover:shadow-xl hover:shadow-[#7ce7fc]">
                <img alt="{{ card.name }}"
                     width="100"
                     height="100"
                     [src]="card.imageLink">

                <div class="font-semibold text-[2rem] flex flex-col items-center justify-center">{{ card.name }}</div>
            </div>
        }
    </div>
</div>

<div class="flex flex-col items-center justify-center bg-[#343845] h-[80%] gap-8">
    <div id="experience" class="font-bold text-[4rem] hide">Work <span
        class="text-[#7ce7fc] font-extrabold">Experience</span></div>

    <div class="timeline w-full h-[80%] hide">
        @for (exp of workExperiences; track exp) {
            <div class="container" [ngClass]="exp.positionClass">
                <div class="flex justify-evenly bg-[#21242c] rounded-2xl p-8 gap-6">
                    <div class="w-[74px] h-[74px] bg-white flex items-center justify-center rounded-xl">
                        <a [href]="exp.companySiteLink" [matTooltipShowDelay]="500" matTooltip="{{ exp.company }} site"
                           target="_blank">
                            <img
                                [src]="exp.logo"
                                alt="{{ exp.company }} logo"
                                class="max-w-[74px] max-h-[74px] object-contain rounded-xl"/>
                        </a>
                    </div>

                    <div class="flex flex-col gap-2 max-w-[30rem]">
                        <div>
                            <div class="font-semibold">{{ exp.position }}</div>

                            <div class="font-semibold">
                                {{ exp.company }}
                            </div>

                            <div class="font-light">
                                {{ exp.startDate | date: 'MMMM yyyy' }}
                                - {{ exp.endDate === null ? 'Present' : exp.endDate | date: 'MMMM yyyy' }}
                                - {{ formatDurationSince(exp.startDate) }}
                            </div>
                            <div class="font-light">{{ exp.location }}</div>
                        </div>

                        <ul class="list-disc text-justify">
                            @for (desc of exp.descriptions; track desc) {
                                <li>{{ desc }}</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<div class="flex flex-col items-center justify-center bg-[#21242c] h-[75%] gap-8">
    <div id="projects" class="font-bold text-[4rem] hide">Latest <span
        class="text-[#7ce7fc] font-extrabold">Projects</span></div>

    <div class="flex justify-center items-center gap-24 w-full p-6 hide">

        @for (project of projects; track project) {
            <div class="flex flex-col justify-evenly items-center gap-2 bg-[#343845] rounded-2xl w-[40rem] h-[40rem]">
                <div class="flex justify-center items-center flex-col font-semibold text-[2rem] p-2">
                    <span class="font-semibold text-[2rem]">{{ project.title }}</span>
                    <div class="font-light text-sm">
                        {{ project.startDate }}
                        - {{ project.endDate === null ? 'Present' : project.endDate | date: 'MMMM yyyy' }}
                    </div>
                </div>

                <img alt="{{ project.title }}"
                     [src]="project.imageLink">

                <div class="font-semibold pt-2 pl-4 pr-4 text-justify">{{ project.description }}</div>

                <div class="flex items-center justify-center pb-4">
                    <button extended mat-fab>
                        <a href="{{ project.githubLink }}" target="_blank">Read more</a>
                    </button>
                </div>
            </div>
        }
    </div>
</div>

<div class="flex flex-col items-center justify-center bg-[#343845] h-screen gap-8">
    <div id="education" class="font-bold text-[4rem] hide">Education & <span class="text-[#7ce7fc] font-extrabold">Certifications</span>
    </div>

    <div class="timeline w-full h-[80%] hide">
        @for (education of educations; track education) {
            <div class="container" [ngClass]="education.positionClass">
                <div class="flex justify-evenly bg-[#21242c] rounded-2xl p-8 gap-6">
                    <div class="w-[74px] h-[74px] bg-white flex items-center p-2 justify-center rounded-2xl">
                        <a [href]="education.siteLink" target="_blank" [matTooltipShowDelay]="500"
                           matTooltip="{{ education.subtitle }} site">
                            <img
                                [src]="education.imageLink"
                                alt="{{ education.subtitle }} logo"
                                class="max-w-[74px] max-h-[74px] object-contain rounded-xl"/>
                        </a>
                    </div>


                    <div class="flex flex-col gap-2 max-w-[30rem]">
                        <div>
                            <div class="font-semibold">{{ education.title }}</div>

                            <div class="font-sm">
                                {{ education.subtitle }}
                            </div>

                            <div class="font-light">
                                {{ education.startDate }}- {{ education.endDate }}
                            </div>
                        </div>

                        @if (education.description.length !== 0) {
                            <div class="text-justify text-sm">{{ education.description }}</div>
                        }
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<footer class="bg-[#21242c] h-[7vh] flex items-center justify-center">
    &copy; Szymon Półtorak
</footer>
