<div class="bg-[#21242c] flex flex-col h-screen" xmlns="http://www.w3.org/1999/html">

    <div class="flex justify-evenly p-4 items-center">
        <div class="font-bold text-[2rem]">Portfolio.</div>

        <div class="flex justify-center items-center gap-[1rem]">
            <button class="nav-button" mat-button>About</button>
            <button class="nav-button" mat-button>Experience</button>
            <button class="nav-button" mat-button>Projects</button>
            <button class="nav-button" mat-button>Education</button>
        </div>
    </div>

    <div class="flex-1 flex justify-center items-center px-[10rem] gap-8">

        <div class="flex flex-col gap-4 max-w-[50%]">
            <div class="text-white text-[2.5rem] font-bold">
                Hi!
            </div>

            <div class="text-[3rem]">
                <span class="text-[#7ce7fc] font-extrabold">Szymon Półtorak</span>
            </div>

            <div class="flex items-center text-white text-[2.5rem] font-mono">
                I'm a&nbsp;
                <span class="relative inline-block whitespace-nowrap font-semibold text-[#7ce7fc] font-mono">
                    {{ typed }}<span class="cursor-blink ml-1">|</span>
                </span>
            </div>

            <div class="flex flex-start gap-4">
                <a mat-mini-fab aria-label="Linkedin" matTooltip="Contact me on Linkedin"
                   [matTooltipPosition]="'above'" [matTooltipShowDelay]="500"
                   href="https://www.linkedin.com/in/szymon-poltorak" target="_blank">
                    <ng-icon name="bootstrapLinkedin"/>
                </a>

                <a mat-mini-fab aria-label="Github" matTooltip="See my github projects"
                   [matTooltipPosition]="'above'" [matTooltipShowDelay]="500"
                   href="https://github.com/szymonpoltorak" target="_blank">
                    <ng-icon name="bootstrapGithub"/>
                </a>
            </div>

            <div>
                <button extended mat-fab>Download CV</button>
            </div>
        </div>

        <div
            class="flex justify-end items-end border-6 rounded-full solid border-[#7ce7fc] overflow-hidden bg-[#7ce7fc]">
            <img
                src="photo.png"
                alt="Profile image"
                class="object-cover"
            />
        </div>
    </div>
</div>

<div class="flex items-center justify-center p-4 bg-[#343845] h-screen gap-8">
    <div
        class="flex justify-end items-end border-6 rounded-full solid border-[#7ce7fc] overflow-hidden">
        <img
            src="photo.png"
            alt="Profile image"
            class="object-cover"
        />
    </div>

    <div class="max-w-[60rem]">
        <div class="font-semibold text-[5rem]">About <span class="text-[#7ce7fc]">Me</span></div>

        <div class="text-justify">
            Passionate Fullstack Developer specializing in Java (Spring Boot) and Angular.
            Currently a first-year Applied Computer Science Master's student at Warsaw University of Technology,
            striving to expand my knowledge and improve my skills in modern software development.
            <br/><br/>
            I have a strong interest in backend and frontend technologies, particularly Spring Boot, Angular, and DevOps
            automation. My experience includes building scalable web applications, optimizing backend performance, and
            working with microservices architecture. I’m also proficient in Docker, Kafka, RabbitMQ, and CI/CD
            pipelines.
            <br/><br/>
            I’m passionate about clean code, software architecture, and problem-solving, always eager to learn new
            technologies and programming languages. In my free time, I enjoy exploring new tech stacks, reading books,
            and listening to music.
        </div>
    </div>
</div>

<div class="bg-[#21242c] flex flex-col justify-center items-center p-12">
    <div class="font-bold text-[4rem]">Technologies</div>

    <div
        class="grid gap-24 w-full p-12"
        style="grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));"
    >
        @for (card of techCards; track card) {
            <div class="flex flex-col justify-evenly items-center gap-2 bg-[#343845] hover:bg-[#7ce7fc] hover:text-black hover:cursor-pointer
                p-12 rounded-2xl min-w-64 min-h-64">
                <img alt="{{ card.name }}"
                     width="150"
                     height="150"
                     [ngSrc]="card.imageLink">

                <div class="font-semibold text-[2rem]">{{ card.name }}</div>
            </div>
        }
    </div>
</div>

<div class="flex flex-col items-center justify-center p-4 bg-[#343845] h-screen gap-8">
    <div class="font-bold text-[4rem]">Experience</div>

    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 w-full justify-center">
        @for (exp of workExperiences; track exp) {
            <div class="flex justify-evenly bg-[#21242c] p-8 rounded-2xl">
                <div>
                    <a href="{{ exp.companySiteLink }}" target="_blank">
                        <img alt="{{ exp.company }} logo"
                            width="64"
                            height="64"
                            [ngSrc]="exp.logo">
                    </a>
                </div>

                <div class="flex flex-col gap-2 max-w-[30rem]">
                    <div>
                        <div class="font-semibold">{{ exp.position }}</div>

                        <div class="font-semibold">
                            {{ exp.company }}
                        </div>

                        <div class="font-light">
                            {{ exp.startDate | date: 'MMMM yyyy' }} - Present - {{ formatDurationSince(exp.startDate) }}
                        </div>
                        <div class="font-light">{{ exp.location }}</div>
                    </div>

                    <ul class="list-disc text-justify">
                        @for (desc of exp.descriptions; track desc) {
                            <li>{{ desc }}</li>
                        }
                    </ul>
                </div>
            </div>
        }
    </div>
</div>
