.cursor-blink {
    animation: blink 0.8s step-end infinite;
    border-right: none;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.nav-button {
    font-weight: bolder;
}
