<div class="flex justify-evenly p-4 items-center">
    <div class="font-bold text-[2rem]"><span class="text-[#7ce7fc] font-extrabold">My </span>Portfolio.</div>

    <div class="flex justify-center items-center gap-[1rem]">
        <button class="nav-button" matTooltip="About me" [matTooltipShowDelay]="500" mat-button>
            <a href="#about">About</a>
        </button>
        <button class="nav-button" matTooltip="My work experience" [matTooltipShowDelay]="500" mat-button>
            <a href="#experience">Experience</a>
        </button>
        <button class="nav-button" matTooltip="My projects" [matTooltipShowDelay]="500" mat-button>
            <a href="#projects">Projects</a>
        </button>
        <button class="nav-button" matTooltip="Technologies I use" [matTooltipShowDelay]="500" mat-button>
            <a href="#technologies">Technologies</a>
        </button>
        <button class="nav-button" matTooltip="Education history" [matTooltipShowDelay]="500" mat-button>
            <a href="#education">Education</a>
        </button>
    </div>
</div>
