// Custom Theming for Angular Material
// For more information: https://material.angular.dev/guide/theming
@use '@angular/material' as mat;
@use "_theme-colors" as my-theme;

html {
    @include mat.theme((
        color: (
            theme-type: dark,
            primary: my-theme.$primary-palette,
            tertiary: my-theme.$tertiary-palette,
        ),
        typography: Quicksand,
        density: 0,
    ));
}

/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    min-height: 100vh;
    font-family: Quicksand, "Helvetica Neue", sans-serif;
    color: white
}
