<div class="flex flex-col items-center justify-center bg-[#343845] h-[80%] gap-8">
    <div id="experience" class="font-bold text-[4rem] hide">Work <span
        class="text-[#7ce7fc] font-extrabold">Experience</span></div>

    <div class="timeline w-full h-[80%] hide">
        @for (exp of workExperiences; track exp) {
            <div class="container" [ngClass]="exp.positionClass">
                <div class="flex justify-evenly bg-[#21242c] rounded-2xl p-8 gap-6">
                    <div class="w-[74px] h-[74px] bg-white flex items-center justify-center rounded-xl">
                        <a [href]="exp.companySiteLink" [matTooltipShowDelay]="500" matTooltip="{{ exp.company }} site"
                           target="_blank">
                            <img
                                [src]="exp.logo"
                                alt="{{ exp.company }} logo"
                                class="max-w-[74px] max-h-[74px] object-contain rounded-xl"/>
                        </a>
                    </div>

                    <div class="flex flex-col gap-2 max-w-[30rem] ">
                        <div>
                            <div class="font-semibold">{{ exp.position }}</div>

                            <div class="font-semibold">
                                {{ exp.company }}
                            </div>

                            <div class="font-light">
                                {{ exp.startDate | date: 'MMMM yyyy' }}
                                - {{ exp.endDate === null ? 'Present' : exp.endDate | date: 'MMMM yyyy' }}
                                - {{ formatDurationSince(exp) }}
                            </div>
                            <div class="font-light">{{ exp.location }}</div>
                        </div>

                        <ul class="list-disc text-justify ">
                            @for (desc of exp.descriptions; track desc) {
                                <li>{{ desc }}</li>
                            }
                        </ul>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
